body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: arial;
  }
  
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    
  }
  /* Make the masthead heading the same height as the navigation */
  .header .text-muted{
    padding: 30px;
    border-bottom: 1px solid #999;
  }
  .header h3 {
    display: block;
    font-size: 29.25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:  #aaa !important;
  }
  
  /* Custom page footer */
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color:#EEE;
	border:none;
	text-align:center;
	padding:30px;
  }
  .jumbotron h2{
font-size: 24px;
font-weight: 700;
line-height: normal;
 color: rgb(0, 0, 0);
  }
  .jumbotron .btn {
    margin-top: 20px;
  }
  .jumbotron label{
    padding: 10px;
font-size: 16px;
font-weight: 700;
line-height: normal;
color: rgb(51, 51, 51);
}
  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }
  .footer p{
    color:#AAA;
    padding:20px;
	font-size:14px;
    font-weight: bold;
  }
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #999;
  }
  
