<!-- [rows]="filterdMaterials | searchFilter: keyword" [rowClass]="borderClass" [columnMode]="ColumnMode.force" -->
<ngx-datatable class="ngx-datatable material fixed-header virtualized fixed-header tabelWidth" [rowClass]="borderClass"
    [columnMode]="ColumnMode.force" [rowHeight]="80" [headerHeight]="50" [scrollbarH]="true" [limit]="5"
    [footerHeight]="50" [rows]="products">
    <ngx-datatable-column name="Image" prop="productImages" [sortable]="false">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <div class="d-flex myStatus justify-content-center text-center">
                <!-- <p>{{value[0].photo.fullLink| json}}</p> -->
                <img [src]="value[0].photo.fullLink" style="height: 50px;">
            </div>
        </ng-template>

    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" name="product name" prop="name">
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="product price" prop="defaultPrice">
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="product description" prop="description">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <span>{{value.slice(0,40)}}...</span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="Inventory" prop="amount">
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="Category" prop="category.name">
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="Brand" prop="brand.name">
    </ngx-datatable-column>
    <!-- <ngx-datatable-column [sortable]="false" name="Delivery Available" prop="customerName">
    </ngx-datatable-column> -->
    <ngx-datatable-column name="Options" [sortable]="false">
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <div class="fa-solid fa-trash-alt mx-2 cursor-pointer text-danger"></div>
            <div [routerLink]="'/'" class="fa-solid fa-edit mx-2 cursor-pointer text-warning">
            </div>
            <i class="mx-2 cursor-pointer fa-regular fa-eye text-success" [routerLink]="'/'"></i>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>