
<div class="container-fluid mb-5">
  <div class="d-flex justify-content-between">
    <div>
  <h5 class="pt-3">Support and Help</h5>
  <p class="first_pragraph mt-3 w-auto">Access help documentation and resources for platform</p>
</div>
  <div class="d-flex justify-content-between">


    <div class="form mt-3 mr-5">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control form-input rounded-4 " placeholder="Search anything...">
    </div>
<div>
  <button class="btn mt-3 ml-2 border rounded-4 w-100" style="width: 150px; height: 51px;text-align: left;">complaints<i class="fa-solid fa-chevron-down ml-4"></i></button>
</div>
    </div>
  </div>
  </div>
  <div class="h-100 w-100 shadow mt-4  rounded-bottom-3 border">

    <div style="background-color: black; width: 100%; height: 60px;" class="rounded-top">
    <p class="ml-3 p-3" style="color: #fff; font-weight: bold; display: flex;">Contacts Technical support</p>
  </div>
  <div class="container-fluid">
    <div class="mt-4 mb-2">
    <p class="col-12" style="font-size: 20px; font-weight: bold; color: black; font-family: Poppins-Regular;">Complaint sender data</p>
  </div>
  <div class="d-flex">
    <div class="col-lg-4  col-sm-12">
      <div>
        <i class="fa-regular fa-user p-2"></i>
        <span style="font-size: 16px; color: #343434; font-family: Poppins; font-weight: 500;" >Abo Abdallah</span>
      </div>
    </div>
    <div class="col-lg-3  col-sm-12 " >
      <div>
        <i class="fa-regular fa-envelope p-2"></i>
        <span style="font-size: 16px; color: #343434; font-family: Poppins; font-weight: 500;">aboabdallah21@gmai.com</span>
      </div>
    </div>
    <div class="col-lg-3  col-sm-12">

      <div>
        <i class="fa-solid fa-phone p-2"></i>
       <span style="font-size: 16px; color: #343434; font-family: Poppins; font-weight: 500;">Amazon Store</span>
      </div>
    </div>

  </div>
  <div class="col-lg-12 col-sm-12 mt-4">
    <p style="font-size: 17px; font-weight: bold; color: black; font-family: Poppins-Regular;">Complaints</p>
    <p class="bg-gray-200 p-3 rounded-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure pteur sint occaecat.</p>
  </div>
  <div class="col-lg-12 col-sm-12 mt-4 mb-5">
    <p style="font-size: 17px; font-weight: bold; color: black; font-family: Poppins-Regular;">Reply</p>

    <p class="p-2 pb-4 rounded-4 border" style="position: relative;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure pteur sint occaecat.</p>
    <i class="fa-solid fa-paperclip ml-2" style="position: absolute; top: 75%; right: 2%;" ></i>
    <i class="fa-regular fa-face-smile p-1" style="position: absolute; top: 73%; right: 3%;"></i>
</div>
<div class="col-12 row mb-5">
  <button class="  btn m-2 ml-auto" style="background-color: #000000; width: 193px; height: 64px; color: #fff;">Send</button>
  </div>

</div>
  </div>



