<div class="container-fluid mb-5">
  <div class="row justify-content-between">
    <div class="col-md-6 col-sm-6">
      <h5 class="pt-3">Settings</h5>
      <p class="first_pragraph mt-3 w-auto">Configure platform settings, such as payment gateways ….</p>
    </div>
    <div class="col-md-6 d-flex justify-content-end col-sm-6">
      <button class="btn mt-3 ml-3 border rounded-4" style="height: 51px; text-align: left;">Notifications
        <i class="fa-solid fa-chevron-down ml-2"></i>
      </button>
    </div>
  </div>
</div>
  <div class="h-100 w-100 shadow mt-4  rounded-bottom-3 border">

    <div style="background-color: black; width: 100%; height: 60px;" class="rounded-top">
    <p class="ml-3 p-3" style="color: #fff; font-weight: bold; display: flex;">Notifications</p>
  </div>
  <div class="container-fluid mt-2 mb-5" >
    <div>
      <p style="font-family: Poppins; font-weight: bold; font-size: 20px; color: black;" class="ml-2 mt-3">Notifications sent by the admin to users</p>
    </div>
    <div >
      <textarea style="width: 1162px; height: 231px; position: relative;" class="border rounded-4"></textarea>
      <p style="position: absolute; top: 49%;" class="ml-2">Type anything you want to tell the user .....</p>
      <i class="fa-solid fa-paperclip ml-2" style="position: absolute; left: 94%;bottom: 23%;"></i>
      <i class="fa-regular fa-face-smile"  style="position: absolute; left: 93%;bottom: 23%;"></i>

    </div>
    <div class="row">
      <button class="btn m-2 ml-auto rounded-3" style="background-color: #000000; width: 193px; height: 64px; color: #fff;">Send</button>
      </div>
      </div>
</div>
<div>


  </div>




