<div class="container-fluid mb-5">
  <div class="row">
    <h5 class="pt-3 col-12">Inventory Management</h5>
    <p class="first_pragraph mt-2 col-12">Monitor the stock levels of products from different vendors ….</p>
  </div>

  <div class="h-100 w-100 shadow mt-4 p-2 rounded border">
    <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
        <p class="second_pragraph mt-2">Inventory Name</p>
        <p class="prag_detail w-auto h-auto p-2 rounded-3">Amazon inventory</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
        <p class="second_pragraph mt-2">Vendor name</p>
        <p class="prag_detail w-auto h-auto p-2 rounded-3">Mohamed Mohamed Mohamed</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
        <p class="second_pragraph mt-2">Description</p>
        <p class="prag_detail w-auto h-auto p-2 rounded-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure pteur sint occaecat.</p>
      </div>
    </div>
    <div class="row">
    <div class="d-flex justify-content-between mt-3">
   <div class="col-lg-4 col-md-6 col-sm-12">
    <p class="second_pragraph mt-2">Email Address</p>
    <p class="prag_detail w-auto h-auto p-2 rounded-3">mohamedabdelwahed503@gmail.com</p>
    </div>
   <div class="col-lg-4 col-md-6 col-sm-12">
    <p class="second_pragraph mt-2">Brand</p>
    <p class="prag_detail w-auto h-auto p-2 rounded-3">Apple</p>
  </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <p class="second_pragraph mt-2">Quantity</p>
      <p class="prag_detail w-auto h-auto p-2 rounded-3">1000 Packet</p>
    </div>
    <div class="row col-12 mt-5">
      <button class="btn m-2 ml-auto" style="background-color: #000000; width: 193px; height: 64px; color: #fff;">Save</button>
      <button class="btn m-2" style=" width: 193px; height: 64px; color:gray;">Cancel</button>
      </div>
  </div>

</div>

  </div>
