<!----------------------------------------------- reseve email inputs --------------------------------------->
<form [formGroup]="sendEmailForm" (submit)="sendEmail(sendEmailForm)">
    <h6 style="">Please type your username to receive code </h6>
    <input formControlName="userName" type="text" class="form-control m-auto rounded-3" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="Enter your username">
    <button routerLink="/auth/verify" type="submit" class="btn rounded-3 mt-4 w-100"
        style="background-color: black; color: #fff; ">NEXT</button>
</form>