<!----------------------------------------------- New Password --------------------------------------->

<div class="text-start">
    <form [formGroup]="changePasswordForm" (submit)="changePassword(changePasswordForm)">
        <h6>New password</h6>
        <input type="password" formControlName="password" placeholder="Password" class="form-control rounded-3"
            id="exampleInputPassword1">
        <input type="password" formControlName="rePassword" placeholder="Repeat password"
            class="form-control rounded-3 mt-2" id="exampleInputPassword1">
        <button type="submit" class="btn rounded-3 mt-3 w-100"
            style="background-color: black; color: #fff; ">NEXT</button>
    </form>
</div>