<div class="container-fluid mb-5">
  <div class="d-flex flex-wrap row">
    <div class="col-lg-4 col-sm-12">
      <h5 class="pt-3">Settings</h5>
      <p class="first_pragraph mt-3 w-auto">Configure platform settings, such as payment gateways ….</p>
    </div>
    <div class="d-flex col-lg-8">
      <div class="form mt-3 ml-3 col-sm-6 col-md-6">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input rounded-4" placeholder="Search anything..." style="width: 100%;">
      </div>
      <div class="ml-2 d-flex flex-wrap flex-sm-nowrap">
        <div class="col-sm-12 col-md-6 row mt-3">
          <button class="btn border rounded-4 w-100">Home page <i class="fa-solid fa-chevron-down ml-2"></i></button>
        </div>
        <div class="col-sm-12 col-md-6 mt-3">
          <button class="btn border rounded-4 w-auto">Payment gateways <i class="fa-solid fa-chevron-down"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="h-100 w-100 shadow mt-4  rounded-bottom-3 border">

    <div style="background-color: black; width: 100%; height: 60px;" class="rounded-top">
    <p class="ml-3 p-3" style="color: #fff; font-weight: bold; display: flex;">Payment Getways</p>
  </div>
  <div class="container-fluid" >
</div>
<div>
  <div class=" mt-5 mb-5 ml-5">

    <div class="row ">

      <div class="col-md-6">

        <span style="font-size: 14px; font-weight: bold; font-family: Poppins;">Payment Getways</span>
        <div class="card">

          <div class="accordion" id="accordionExample">

            <div class="card">
              <div class="card-header p-0" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-light btn-block text-left collapsed p-3 rounded-0 border-bottom-custom" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="d-flex align-items-center justify-content-between">

                      <span>Paypal</span>
                      <img src="https://i.imgur.com/7kQEsHU.png" width="30">

                    </div>
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body d-flex">
                 <input type="radio" name="paypal" id="" class="mr-2"> <input type="text" class="form-control w-100" placeholder="You can pay with your credit card if you don’t have a PayPal account.">
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header p-0">
                <h2 class="mb-0">
                  <button class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="d-flex align-items-center justify-content-between">

                      <span>Credit card</span>
                      <div class="icons">
                        <img src="https://i.imgur.com/2ISgYja.png" width="30">
                        <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                        <img src="https://i.imgur.com/35tC99g.png" width="30">
                        <img src="https://i.imgur.com/2ISgYja.png" width="30">
                      </div>

                    </div>
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body payment-card-body">

                 <div class="d-flex">
                  <div>
                    <input type="radio" name="paypal" id="" style="margin-top: 35px;" class="mr-3">
                  </div>
                  <div class="input">

                    <i class="fa fa-credit-card"></i>
                    <input type="text" class="form-control" placeholder="Card Number" style="border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0;">

                  </div>

                  <div class="mr-0">

                    <div class="col-md-6" style="margin-left: 0; padding-left: 0;">


                      <div class="input"  >

                        <i class="fa fa-lock"></i>
                        <input type="text" class="form-control" placeholder="CVC/CVV" style="border-left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;">

                      </div>
                    </div>

                    </div>


                  </div>
                  <div class="mt-2">
                  <span class="text-muted certificate-text"><input type="radio" class="mr-2">I have read and agree to the website terms and conditions</span>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
</div>
  </div>

  </div>



