<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <!-- <app-side-navbar *ngIf="isLoggedIn"></app-side-navbar> -->
  <app-side-navbar *ngIf="isUserLoggedIn"></app-side-navbar>

  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <!-- <app-navbar *ngIf="isLoggedIn"></app-navbar> -->
      <app-navbar *ngIf="isUserLoggedIn"></app-navbar>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid position-relative outlet px-2">
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <!-- <app-footer></app-footer> -->
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a
  (click)="scrollToTop()"
  style="cursor: pointer"
  class="scroll-to-top rounded"
>
  <i class="fas fa-angle-up"></i>
</a>
