<div class="container-fluid mb-5 ">

  <h5 class="pt-3 w-100">Inventory Management</h5>
  <p class="first_pragraph mt-3 w-100">Monitor the stock levels of products from different vendors …</p>

  <div class="h-100 w-100 shadow mt-4 p-2 rounded border">
  <div class="container-fluid">
  <div>
    <p class="second_pragraph mt-3 mb-0">Vendor Name</p>
    <p class="prag_detail mt-0">Mohamed Abdelwahed Noah</p>
  </div>
  <div class=" mt-5" >
    <p class="second_pragraph mb-0">Description</p>
    <p class="prag_detail  w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
  </div>
  <hr>
  <div class="d-flex flex-wrap mt-5">
    <div class="col-12 col-md-4 mb-3">
      <div class="mb-1" style="font-size: 16px; color: #000000; font-family: Poppins; font-weight: bold;">Email Address</div>
      <div>
        <i class="fas fa-map-marker-alt mt-2 mr-2" style="color: #343434;"></i>
        <span style="font-size: 16px; color: #343434; font-family: Poppins; font-weight: 500;">mohamedabdelwahed503@gmail.com</span>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="mb-1" style="font-size: 16px; color: #000000; font-family: Poppins; font-weight: bold;">Phone Number</div>
      <div>
        <span style="font-size: 16px; color: #343434; font-family: Poppins; font-weight: 500;">+966 000 0000 000</span>
      </div>
    </div>
  </div>
  <hr class="mt-5" style="height: 2px;">
  <div class="mt-5 ml-2">
  <p style="font-size: 16px; color: #343434; font-family: Poppins; font-weight: 500;">Vendor statistics</p>
  </div>
  <div>
  <div class="row col-12">
  <button class="  btn m-2 ml-auto" style="background-color: #000000; width: 193px; height: 64px; color: #fff;">Save</button>
  </div>

  </div>
  </div>

  </div>

  </div>
