
h5
{
  font-family: "Poppins-Bold";
font-size: 20px;
font-weight: normal;
font-style: normal;
text-align: left;
color: #d80003;
width: 175px;
height: 23px;
}
.first_pragraph{
  width: 243px;
height: 17px;
font-family: "Poppins-Regular";
font-size: 14px;
font-weight: normal;
font-style: normal;
text-align: left;
color: #343434;
}
img{
  width: 167px;
height: 181px;
}
.second_pragraph{
  font-family: "Poppins-Bold";
font-size: 20px;
font-weight: normal;
font-style: normal;
text-align: left;
color: #343434;
}
.prag_detail{
 font-family: "Poppins";
font-size: 16px;
font-weight: 500;
font-style: normal;
text-align: left;
}
hr{
  height: 1px;
  background-color: #ccc;
  border: none;
}
.btn .btn1{
  width: 150px;
  height: 50px;
  background: #ffd9fc
}
